<div class="row pe-3 dashboard">
  <div class="col-3 filter-wrapper">
    <h1>Filters</h1>

    <div class="tags-container" *ngIf="selectedCountries.length > 0">
      <span class="tag" *ngFor="let item of selectedCountries">
        {{ item }}
        <button type="button" (click)="removeTag(item, 'country')">×</button>
      </span>
    </div>
    <div class="filter-item">
      <img
        src="../assets/icons/country.svg"
        class="filter-icon"
        alt="country-icon"
        srcset=""
      />
      <app-multi-select-dropdown
        [options]="countryList"
        [selectedItems]="selectedCountries"
        (selectionChanged)="onSelectedCountry($event)"
        [disabled]="!isFileUploaded"
      >
      </app-multi-select-dropdown>
      <!-- <span *ngIf="selectedCountries.length > 0">
        <img src="../assets/icons/close.png" (click)="clearfilter()" />
      </span> -->
    </div>
    <div class="tags-container" *ngIf="selectedJob.length > 0">
      <span class="tag" *ngFor="let item of selectedJob">
        {{ item }}
        <button type="button" (click)="removeTag(item, 'job-title')">×</button>
      </span>
    </div>

    <div class="filter-item">
      <img
        src="../assets/icons/job.svg"
        class="filter-icon"
        alt="country-icon"
        srcset=""
      />
      <app-input-selecter
        [options]="jobTitles"
        [selectedItems]="selectedJob"
        (selectionChanged)="onJobChange($event)"
        [disabled]="!isFileUploaded"
      >
      </app-input-selecter>
      <!-- <span *ngIf="selectedCountries.length > 0">
        <img src="../assets/icons/close.png" (click)="clearfilter()" />
      </span> -->
    </div>
  </div>
  <div class="col-9 data-wrapper">
    <div class="row p-4">
      <div class="col-6">
        <input type="file" (change)="readExcel($event)" />
      </div>

      @if (ExcelData) {
      <div class="col-6">
        <button class="float-end btn btn-primary" (click)="exportExcel()">
          Download File
        </button>
      </div>
      }
    </div>

    @if (ExcelData) {
    <div class="row ps-4 mb-3">
      <div>
        <select class="form-select" (change)="pageItems($event)">
          <option selected>--Select Items--</option>

          @for (item of itemsPerPageList; track $index) {
          <option [value]="item">{{ item }}</option>
          }
        </select>
      </div>
    </div>
    <div class="data-table">
      <table class="table table-bordered" id="table-data">
        <thead>
          <tr>
            <th>Sr No.</th>
            @for (item of tableFields; track item) {
            <th>{{ item }}</th>
            }
          </tr>
        </thead>
        <tbody>
          @for (item of ExcelData | paginate: { itemsPerPage: itemsPerPage,
          currentPage: pageNumber }; track item; let index = $index; ) {
          <tr>
            <td class="xxsm-width">{{ index + 1 }}</td>
            <td class="sm-width">{{ item.fullName }}</td>
            <td class="m-width">{{ item.jobTitle }}</td>
            <td class="m-width">{{ item.companyName }}</td>
            <td class="m-width">{{ item.email }}</td>
            <td class="m-width">{{ item.industry }}</td>
            <td class="sm-width">{{ item.employeeSize }}</td>
            <td class="sm-width">{{ item.phoneNumber }}</td>
            <td>{{ item.address }}</td>
            <td class="xsm-width">{{ item.city }}</td>
            <td class="xsm-width">{{ item.state }}</td>
            <td class="xsm-width">{{ item.zipCode }}</td>
            <td class="xsm-width">{{ item.country }}</td>
            <td class="sm-width">{{ item.website }}</td>
            <td class="m-width">{{ item.contactLink }}</td>
            <td class="m-width">{{ item.companyLink }}</td>
            <td class="sm-width">{{ item.prospectLocation }}</td>
          </tr>
          } @empty {
          <tr>
            <td colspan="16">Upload Table</td>
          </tr>
          }
        </tbody>
      </table>
      <div class="row mt-4">
        <div>
          <pagination-controls
            (pageChange)="pageNumber = $event"
          ></pagination-controls>
        </div>
      </div>
    </div>
    } @else{
    <div class="load-file">
      <h2>Upload Excel file.</h2>
    </div>
    }
  </div>
</div>
