<div class="row pe-3 dashboard">
  <div class="col-3 filter-wrapper">
    <h1>Filters</h1>

    <div class="">
      <app-input-selecter
        [imageName]="'country-icon'"
        [filterItems]="selectedCountries"
        [placeholder]="'Filter by Country.'"
        [options]="countryList"
        [selectedItems]="selectedCountries"
        (selectionChanged)="onSelectedCountry($event)"
        [disabled]="!isFileUploaded"
      >
      </app-input-selecter>

      <app-input-selecter
        [imageName]="'job-icon'"
        [filterItems]="selectedJobTitle"
        [placeholder]="'Filter by Job Title.'"
        [options]="jobTitles"
        [selectedItems]="selectedJobTitle"
        (selectionChanged)="onSelectedJobTitle($event)"
        [disabled]="!isFileUploaded"
      >
      </app-input-selecter>

      <app-input-selecter
        [imageName]="'job-icon'"
        [filterItems]="selectedManagementLevel"
        [placeholder]="'Filter by Managemnt Level.'"
        [options]="managementLevels"
        [selectedItems]="selectedManagementLevel"
        (selectionChanged)="onSelectedManagementLevel($event)"
        [disabled]="!isFileUploaded"
      >
      </app-input-selecter>

      <!-- <app-input-selecter
        [imageName]="'company-icon'"
        [filterItems]="selectedCompanies"
        [placeholder]="'Filter by Company.'"
        [options]="companyNames"
        [selectedItems]="selectedCompanies"
        (selectionChanged)="onSelectedCompany($event)"
        [disabled]="!isFileUploaded"
      >
      </app-input-selecter> -->

      <app-upload-text-filter
        #companyNameFilter
        [imageName]="'company-icon'"
        [placeholder]="'filter by company name.'"
        [options]="companyUploadList"
        (selectionChanged)="onCompanyUpload($event)"
        [disabled]="!isFileUploaded"
      ></app-upload-text-filter>

      <app-upload-text-filter
        #domainFilter
        [imageName]="'company-icon'"
        [placeholder]="'filter by damian.'"
        [options]="domainUploadList"
        (selectionChanged)="onDomainUpload($event)"
        [disabled]="!isFileUploaded"
      ></app-upload-text-filter>

      <app-input-selecter
        [imageName]="'industry-icon'"
        [filterItems]="selectedIndustries"
        [placeholder]="'Filter by Industry.'"
        [options]="industryNames"
        [selectedItems]="selectedIndustries"
        (selectionChanged)="onSelectedIndustry($event)"
        [disabled]="!isFileUploaded"
      >
      </app-input-selecter>

      <app-input-selecter
        [imageName]="'industry-icon'"
        [filterItems]="selectetdDepartments"
        [placeholder]="'Filter by Departments.'"
        [options]="departments"
        [selectedItems]="selectetdDepartments"
        (selectionChanged)="onSelectedDepartments($event)"
        [disabled]="!isFileUploaded"
      >
      </app-input-selecter>

      <app-input-selecter
        [imageName]="'industry-icon'"
        [filterItems]="selectedEmpSize"
        [placeholder]="'Filter by Employee Size.'"
        [options]="empSizes"
        [selectedItems]="selectedEmpSize"
        (selectionChanged)="onSelectedEmpSize($event)"
        [disabled]="!isFileUploaded"
      >
      </app-input-selecter>

      <app-input-selecter
        [imageName]="'state-icon'"
        [filterItems]="selectedStates"
        [placeholder]="'Filter by State.'"
        [options]="stateNames"
        [selectedItems]="selectedStates"
        (selectionChanged)="onSelectedState($event)"
        [disabled]="!isFileUploaded"
      >
      </app-input-selecter>

      <app-input-selecter
        [imageName]="'city-icon'"
        [filterItems]="selectedCities"
        [placeholder]="'Filter by City.'"
        [options]="cityNames"
        [selectedItems]="selectedCities"
        (selectionChanged)="onSelectedCity($event)"
        [disabled]="!isFileUploaded"
      >
      </app-input-selecter>

      <app-input-selecter
        [imageName]="'zip-icon'"
        [filterItems]="selectedZipCodes"
        [placeholder]="'Filter by Zip Code.'"
        [options]="zipCodes"
        [selectedItems]="selectedZipCodes"
        (selectionChanged)="onSelectedZipCode($event)"
        [disabled]="!isFileUploaded"
      >
      </app-input-selecter>
    </div>
  </div>
  <div class="col-9 data-wrapper">
    <div class="row p-4">
      <div class="col-6">
        <input type="file" (change)="readExcel($event)" />
      </div>

      @if (ExcelData) {
      <div class="col-6">
        <button class="float-end btn btn-primary" (click)="exportExcel()">
          Download File
        </button>
      </div>
      }
    </div>

    @if (ExcelData) {
    <div class="row ps-4 mb-3">
      <div>
        <select class="form-select" (change)="pageItems($event)">
          <option selected>--Select Items--</option>

          @for (item of itemsPerPageList; track $index) {
          <option [value]="item">{{ item }}</option>
          }
        </select>
      </div>
    </div>

    <app-excel-table
      [tableFields]="tableFields"
      [ExcelData]="ExcelData"
      [pageNumber]="pageNumber"
      [itemsPerPage]="itemsPerPage"
    >
    </app-excel-table>

    } @else{
    <div class="load-file">
      <h2>Upload Excel file.</h2>
    </div>
    }
  </div>
</div>
