.dashboard {
  margin: 10px 5px 50px;
  .filter-wrapper {
    border: 1px solid black;
    background-color: #65d4d6;
    .filter-item {
      display: flex;
      align-items: flex-start;
      gap: 10px;
      .filter-icon {
        width: 30px;
      }
    }
  }
  .data-wrapper {
    overflow-x: auto;
    .form-select {
      width: 150px;
    }
    .data-table {
      tr,
      th,
      td {
        border: 1px solid rgb(66, 67, 67);
      }
      th {
        font-size: 14px;
      }
      td {
        font-size: 12px;
      }
      .xxsm-width {
        min-width: 58px;
      }
      .xsm-width {
        min-width: 80px;
      }
      .sm-width {
        min-width: 120px;
      }
      .m-width {
        min-width: 200px;
      }
      tr {
        text-align: center;
        vertical-align: middle;
      }

      td {
        min-width: 300px;
      }
    }
    .load-file {
      text-align: center;
      h2 {
        color: #ae9898;
      }
    }
  }
}
.drops {
  height: 100px !important;
}
