.dashboard {
  margin: 10px 10px 70px;

  .filter-wrapper {
    border: 1px solid black;
    background-color: #65d4d6;
    h1 {
      text-align: center;
      color: #1d3557;
      margin: 15px 0px;
    }
  }
  .data-wrapper {
    overflow-x: auto;
    .form-select {
      width: 150px;
      font-size: 12px;
    }

    .load-file {
      text-align: center;
      h2 {
        color: #ae9898;
      }
    }
  }
}
