.multi-select-container {
  width: 250px;
  position: relative;

  &.disabled {
    pointer-events: none;
    opacity: 0.6;
  }
  .search-input {
    width: 100%;
    padding: 6px 8px;
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
  }
  .dropdown-list {
    position: absolute;
    top: 100%;
    z-index: 10;
    background: #fff;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;

    .dropdown-item {
      padding: 5px 10px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid black;
      width: 230px;
      cursor: pointer;
    }
    .clear-all {
      font-weight: bold;
      color: #d9534f;
      cursor: pointer;
    }
  }
}
.dropdown-item:hover {
  background-color: #bcc2c2;
}
.search-input:focus-visible {
  outline: none;
}
