<div class="multi-select-container" [class.disabled]="disabled">
  <!-- Search Input -->
  <input
    type="text"
    class="search-input"
    [placeholder]="placeholder"
    (input)="setSearch($any($event.target).value)"
    (focus)="toggleDropdown(true)"
    [disabled]="disabled"
  />

  <!-- Dropdown List -->
  <div class="dropdown-list" *ngIf="dropdownOpen && filteredOptions().length">
    <label *ngFor="let option of filteredOptions()" class="dropdown-item">
      <input
        class="input-box"
        type="checkbox"
        [checked]="isSelected(option)"
        (change)="addOrRemove(option)"
      />
      {{ option }}
    </label>
  </div>
</div>
