/* You can add global styles to this file, and also import other style files */
@use "bootstrap/scss/bootstrap" as *;

.form-control:focus {
  box-shadow: none;
}
body {
  overflow-x: hidden;
  // height: 100%;
  // margin: 0;
}
//  "node_modules/bootstrap/scss/bootstrap.scss"
.dropdown-menu {
  max-height: 50px !important;
  overflow-y: auto;
}
